<%- layout('boilerplate/boilerplate') -%>

<div class="container mt-5">
    <div class="d-flex flex-column gap-5">
        <div class="d-flex gap-3 align-items-center">
            <div class="d-flex flex-column gap-2 w-75">
                <h4>Monthly Trend Iuran</h4>
    
                <div id="monthly-trend-iuran" class="w-50 h-50"></div>
            </div>

            <div class="d-flex flex-column align-items-center gap-2 w-25">
                <div class="d-flex flex-column gap-1 p-3 rounded text-white bg-primary w-100">
                    <h5>Total Pemasukan</h5>

                    <p>Rp 2.000.000</p>
                </div>

                <div class="d-flex flex-column gap-1 p-3 rounded text-white bg-danger w-100">
                    <h5>Total Pengeluaran</h5>

                    <p>Rp 1.000.000</p>
                </div>

                <div class="d-flex flex-column gap-1 p-3 rounded text-white bg-success w-100">
                    <h5>Sisa</h5>

                    <p>Rp 1.000.000</p>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center gap-5">
            <div class="w-75 d-flex flex-column gap-2">
                <h4>Distribusi Pengeluaran</h4>
                
                <div id="distribusi-pengeluaran"></div>
            </div>
        </div>

        <div class='d-flex justify-content-between'>
            <div class="d-flex align-items-center gap-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        No. KK
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">No.KK</a></li>
                        <li><a class="dropdown-item" href="#">Nama Kepala Keluarga</a></li>
                        <li><a class="dropdown-item" href="#">Kategori</a></li>
                    </ul>
                </div>

                <input type="text" class="form-control" placeholder="Cari" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>

            <a href='Update.php?ID=$data[ID]' class= 'btn btn-success'>
                <i class="bi bi-cloud-upload"></i>

                <span>Export</span>
            </a>
        </div>

        <div class="d-flex flex-column">
            <h4>Tabel Pemasukan</h4>

            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <th>No</th>

                    <th>Blok</th>

                    <th>Nama KK</th>

                    <th>Nilai Transaksi</th>

                    <th>Tanggal Transaksi</th>

                    <th>Pemabayaran Bulan</th>

                    <th class="text-center">Actions</th>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>

                        <td>Jln. TMP Kalibata No.1</td>

                        <td>Satwika</td>

                        <td>Rp 120.000</td>

                        <td>5 Juni 2024</td>

                        <td>Juni 2024 - Agustus 2024</td>

                        <td>
                            <div class='row'>
                                <div class='col d-flex justify-content-center'>
                                    <a href='Update.php?ID=$data[ID]' class= 'btn btn-sm btn-warning'>
                                        <i class="bi bi-pencil-square"></i>

                                        <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>

                        <td>Jln. Pegadengan Barat Raya No.20</td>

                        <td>Abram</td>

                        <td>Rp 200.000</td>

                        <td>7 Mei 2024</td>

                        <td>Mei 2024 - September 2024</td>

                        <td>
                            <div class='row'>
                                <div class='col d-flex justify-content-center'>
                                    <a href='Update.php?ID=$data[ID]' class= 'btn btn-sm btn-warning'>
                                        <i class="bi bi-pencil-square"></i>

                                        <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class='d-flex justify-content-between'>
            <div class="d-flex align-items-center gap-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        No. KK
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">No.KK</a></li>
                        <li><a class="dropdown-item" href="#">Nama Kepala Keluarga</a></li>
                        <li><a class="dropdown-item" href="#">Kategori</a></li>
                    </ul>
                </div>

                <input type="text" class="form-control" placeholder="Cari" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>

            <a href='Update.php?ID=$data[ID]' class= 'btn btn-success'>
                <i class="bi bi-cloud-upload"></i>

                <span>Export</span>
            </a>
        </div>

        <div class="d-flex flex-column">
            <h4>Tabel Pengeluaran</h4>

            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <th>No</th>

                    <th>Jenis Transaksi</th>

                    <th>Tanggal Transaksi</th>

                    <th>Nilai Transaksi</th>

                    <th class="text-center">Actions</th>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>

                        <td>Kebersihan</td>

                        <td>5 Juni 2024</td>

                        <td>Rp 120.000</td>

                        <td>
                            <div class='row'>
                                <div class='d-flex justify-content-center'>
                                    <a href='Update.php?ID=$data[ID]' class= 'btn btn-sm btn-warning'>
                                        <i class="bi bi-pencil-square"></i>

                                        <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>

                        <td>Gaji</td>

                        <td>6 Juni 2024</td>

                        <td>Rp 1.000.000</td>

                        <td>
                            <div class='row'>
                                <div class='d-flex justify-content-center'>
                                    <a href='Update.php?ID=$data[ID]' class= 'btn btn-sm btn-warning'>
                                        <i class="bi bi-pencil-square"></i>

                                        <span>Edit</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<%- include('./partials/dashboardChart') %>
