<%- layout('boilerplate/boilerplate') -%>

<div class="mt-5 w-50 mx-auto border p-3">
    <h1 class="text-center">Input Warga</h1>  
    <form action="add.php" method="post">
        <div class="row mb-3">
            <div class="col">
                <label for="ID">Blok</label>
                <input type="text" id="ID" name="ID" class="form-control" required>
            </div>
            <div class="col">
                <label for="Nama">Nama Kepala Keluarga</label>
                <input type="text" id="Nama" name="Nama" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="Poli">Alamat Email</label>
                <input type="text" id="Poli" name="Poli" class="form-control" required>
            </div>
            <div class="col">
                <label for="Telp">Password</label>
                <input type="text" id="Telp" name="Telp" class="form-control" required>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <a href='index.php' class='btn btn-sm btn-primary'>Kembali</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-success" type="submit" name="tambah" value="Tambah Data">
            </div>
        </div>
    </form>
</div>