<%- layout('boilerplate/boilerplate') -%>

<div class="mt-5 w-50 mx-auto p-3">
  <h1 class="text-center">Form Pengeluaran</h1>

  <form action="/outcome/<%= outcome._id %>" method="POST">
    <!-- Gunakan metode POST, tetapi tambahkan input hidden untuk mengirim metode DELETE -->
    <input type="hidden" name="_method" value="DELETE" />

    <div class="row mb-3">
      <div class="d-flex flex-column gap-3 mb-3">
        <label for="typeOfTransaction">Jenis Transaksi</label>
        <input
          type="text"
          id="typeOfTransaction"
          name="typeOfTransaction"
          class="form-control"
          autocomplete="off"
          required
        />
      </div>

      <div class="d-flex flex-column gap-3">
        <label for="dateOfTransaction">Tanggal Transaksi</label>
        <input
          type="date"
          id="dateOfTransaction"
          name="dateOfTransaction"
          class="form-control"
          autocomplete="off"
          required
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="d-flex flex-column gap-3 mb-3">
        <label for="transactionValue">Nilai Transaksi</label>
        <input
          type="number"
          id="transactionValue"
          name="transactionValue"
          class="form-control"
          autocomplete="off"
          required
        />
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-delete">Delete</button>
    </div>
  </form>
</div>

<%- include('../partials/typeNumberOnly') %>
