<%- layout('boilerplate/boilerplate') -%>

<div class="mt-5 w-50 mx-auto pt-5 px-3 pb-3">
    <h1 class="text-center">Form Iuran</h1>

    <form action="/citizen-fees/add" method="post" enctype="multipart/form-data">
        <% if (authUser.admin) { %>
            <div class="row mb-3">
                <div class="col">
                    <label for="address">Blok</label>

                    <input type="text" id="address" name="address" class="form-control mt-2" autocomplete="off" required>
                </div>

                <div class="col">
                    <label for="headOfFamilyName">Nama Kepala Keluarga</label>

                    <input type="text" id="headOfFamilyName" name="headOfFamilyName" class="form-control mt-2" autocomplete="off" required>
                </div>
            </div>
        <% } %>

        <div class="row mb-3">
            <div class="col">
                <label for="dateOfTransaction">Tanggal Transaksi</label>

                <input type="date" id="dateOfTransaction" name="dateOfTransaction" class="form-control mt-2" required min="<%= min %>">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="transactionValue">Nilai Transaksi</label>

                <input type="number" id="transactionValue" name="transactionValue" class="form-control mt-2"  autocomplete="off" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="firstMonth">Bulan Awal</label>

                <input type="month" id="firstMonth" name="startMonth" class="form-control mt-2" required>
            </div>

            <div class="col">
                <label for="endMonth">Bulan Akhir</label>

                <input type="month" id="endMonth" name="endMonth" class="form-control mt-2">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="proof">Upload Bukti</label>

                <input type="file" class="form-control mt-2" id="proof" name="images" accept=".jpeg, .jpg, .png" multiple>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
